body {
    font-family: 'Gluten', cursive;
    font-weight: 300;
    text-align: center;
}

.container-fluid {
    padding: 7% 7% 7%;
}

.paragraph-description{
    font-size: 1.3rem;
}

h1 {
    font-size: 4rem;
    line-height: 2;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    font-weight: 500;
}

h2  {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: 400;
}

h3, h4 {
    color: #11999E;
}

.banner-background {
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    opacity: 0.3;
}
.banner-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}

.top-container {
    position: absolute;
    padding: 3% 0 5% 0;
    left: 0;
    right: 0;
    padding-right: 25%;
    padding-top: 5%;
    top: 3%;
}

.carousel-item {
    padding: 0 10% 0 10%;
}

.testimonial-outer {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
    align-items: center;
}

.testimonial-section {
    text-align: center;
    display: inline-block;
}

.testimonial-image {
    width: 100px;
    border-radius: 50%;
}

.wrap {
    display: flex;
    position: relative;
    min-height: 500px;
    width: 100%;
    align-items: center;
}

.testimonial-background {
    position: absolute;
    border-style: double;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: no-repeat center center;
    background-size: cover;
    width: 95%;
    height: 100%;
    z-index: -1;
    color: #79B4B7;
    background-color: #E8F6EF;
}
.testimonial-background:before {
  content: "";
  position: absolute;
  right: 0;
  opacity: 0.1;
}

.testimonial-text {
    text-align: left;
    font-size: 2.5rem;
    padding-left: 5%;
    padding-right: 5%;
    width: 95%;
    font-family: 'Caveat', cursive;
    color: #1C0C5B;
    line-height: 1.5;
}

.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  outline: white;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: url("../resources/left-arrow.png");
}

.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: white;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: url("../resources/right-arrow.png");
}

.skill-row{
    display: inline-flex;
    padding: 2% 0 0 0;
    line-height: 2;
    text-align: left;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.skill-img {
    border-radius: 50%;
    margin-right: 40px;
    width: 150px;
    float: left;
}

.bottom-container {
    background-color: #66BFBF;
    margin: 20px auto;
    padding: 20px 0 0 0;
}

.footer-description {
   color: #EAF6F6;
   font-size: 1rem;
   padding: 20px 0;
}

.footer-link {
    color: #22577A;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.footer-link:hover {
    color: #EAF6F6;
}

hr {
    height: 0;
    border-style: dotted;
    border-width: 7px 0 0 0;
    width: 5%;
    border-color: gray;
    color: white;
    margin: 5% auto;
}

.btn-success {
    height: 4rem;
    width: 16rem;
    font-size: 2.2rem;
    margin: 30px;
}
.btn-success:hover {
    color: #B1E693;
}

.personal-img {
    margin: 0px auto 50px auto;
    width: 250px;
}

.skills {
    display: grid;
}

.footer-icon {
    padding: 0 20px 0 10px;
}

.message-form-errors {
    color: red;
}

#message {
    min-height: 200px;
}